body {
  color: white; 
  font-family: Arial, sans-serif;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* Transparent white box */
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.about {
  max-width: 400px;
  padding: 20px;
}

.kick img {
  width: 250px; /* Adjust image size */
  height: auto;
  border-radius: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
  background-color:rgb(108, 127, 160);
  padding: 10px;
}

img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#recordButton{
  margin-top: 20px;
  box-shadow: 0 0 5px red,
  0 0 25px red;
  background-color: red;
  border: none;
}
#recordButton:hover{
  box-shadow: 0 0 5px red,
  0 0 25px red, 0 0 50px red,
  0 0 100px red, 0 0 200px red;
}