.loginPage{
    border: 1px solid black;
    width: 400px;
    min-height: 500px; 
    background: url('../images/login.png');
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.loginPage form {
    display: flex;
    flex-direction: column;
    width:80%;
    padding:20px;
    backdrop-filter: brightness(40%);
    gap: 10px;
}

.loginPage label {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.loginPage input {
    background: rgba(255, 255, 255, 0.3);
    height:40px;
    border-radius: 20px;
    padding:0px 20px;
    border: none;
    color: white;
    width: 100%; /* Fixes small input size */
}

.loginPage button {
    background: rgb(45, 126, 231);
    height:40px;
    margin-top: 20px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor:pointer;
    color: white;
}

#submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    background-color: rgb(81, 124, 15);
}

#signup{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}